<app-generic-list [list]="games">
    <ng-container content>
        <div *ngFor="let game of games; let index = index"  ngClass="games">
            <p>
                {{index}}) <br>
                <img src={{game.coverUri}} height="200" /> <br>
                Title: {{game.title}} <br>
                {{game.releaseDate | date}} <br>
                <app-rating [maxRating]="5"></app-rating><br>
                <button (click)="remove(index)">Remove</button>
            </p>
        </div>
    </ng-container>
</app-generic-list>